.btn {
  border: 1px solid $app-border-color;
  border-radius: 3px;
  margin-left: 5px;

  &:hover {
    color: #fff;
    border-color: #DDDDDD;
  }

  &.btn-default {
    background-color: $app-default-color;

    &:hover {
      color: #333;
    }
  }


  &.btn-danger:hover {
    background-color: $danger;
  }

  &.btn-primary:hover {
    background-color: $primary;
  }

  &.btn-info:hover {
    background-color: $info;
  }


}

.btn-default:not(:disabled):not(.disabled):active,
.btn-default:not(:disabled):not(.disabled).active,
.show > .btn-default.dropdown-toggle {
  background-color: #efe8e8;
}

.btn-danger:not(:disabled):not(.disabled):active,
.btn-info:not(:disabled):not(.disabled):active,
.btn-danger:not(:disabled):not(.disabled).active,
.btn-info:not(:disabled):not(.disabled).active,
.show > .btn-danger.dropdown-toggle,
.show > .btn-info.dropdown-toggle {
  border-color: #DDDDDD;
}

//.btn-danger:not(:disabled):not(.disabled).active,
//.show > .btn-danger.dropdown-toggle {
//  color: #fff;
//  background-color: $danger;
//}
//
//.btn-default:not(:disabled):not(.disabled).active,
//.show > .btn-default.dropdown-toggle {
//  color: #fff;
//  background-color: red !important;
//}