.card {
	border: none;
	border-radius: 3px 3px 0 0;
	border-top: 4px solid $primary;
	box-shadow: 0 1px 1px rgba(34,36,38,.15);

	.card-header {
		text-transform: uppercase;
		font-family: 'Nova Square', cursive;
		font-size: 20px;
		background: #fff;
		padding: 5px 10px;
		
		.btn {
			padding: 4px 8px;
			font-size: 14px;
			line-height: 1.5;
		}
	}

	.card-body {
		padding: 0;
		margin: 20px;
		overflow: auto;
	}
}
