.hexagon-profile {
    color: #333;
    text-align: center;
    margin-left: 9px;
    width: 38px;
    height: 20px;
    background-color: #fff;
    position: relative;
    display: block;

    &:before {
        border-bottom: 11px solid #fff;
        top: -11px;
    }

    &:after {
        border-top: 11px solid #fff;
        bottom: -11px;
    }

    &:before,
    &:after {
        content: " ";
        width: 0;
        height: 0;
        position: absolute;
        border-left: 19.05255888316px solid transparent;
        border-right: 19.05255888316px solid transparent;
        left: 0;
    }
}
