.modal {

  &.modal-danger {

    .modal-header {
      color: #fff;
      background-color: $danger;

    }
  }

  .modal-dialog {

    .modal-header {
      text-transform: uppercase;
      font-family: 'Nova Square', cursive;
    }

    .modal-header,
    .modal-content {
      border-radius: 0;
    }

    .modal-header,
    .modal-footer {
      padding: 8px 16px;
    }

    .modal-footer {
      background-color: $app-default-color;
    }
  }
}