.navbar {
	padding: 0 16px;

    .navbar-collapse {
		height: 100%;
		display: block;
	    flex-basis: inherit;
	}

	.navbar-nav {
		height: 48px;

		.nav-link {
			display: inherit;
		    align-items: center;
		}

		.nav-link,
		.nav-link:hover {
			color: #fff !important;
			text-transform: uppercase;
			font-family: 'Nova Square', cursive;
		}
	}

	.nav-item {
		height: 100%;
		display: flex;
	    align-items: center;
	}

	.dropdown-menu {
		border-width: 0 1px 0 1px;
		border-radius: 0 0 3px 3px;
	    top: 100%;
		position: absolute;
		margin: 0;
		padding: 0;

		&.right {
    		left: inherit;
    		right: 0;
    	}

		.dropdown-item {
			border-bottom: 1px solid #d6d8db;
		}

	}

	.nav-separator {
		border-right: 1.5px solid #fff;
		margin: 0 9px;
	    height: 36px;
	}

	.fa {
		font-size: 20px;
	}
}