// Enabling shadows and gradients
//$enable-shadows: true;
//$enable-gradients: true;

// Changing the body background and text
$body-bg: #ECF0F5;
$body-color: #333;

// Changing the border radius of buttons
//$border-radius: 15px;

//$fa-font-path:   "../../node_modules/font-awesome/fonts";
$fa-font-path:   "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/fonts/";

// Changing the theme colors
$primary: #008548;
//$secondary: #436296;
$success: #3D9970;
$info: #3C8DBC;
$warning: #F39C12;
//$danger: #DD4B39;
$danger: #D81B60;

$app-default-color: #F4F4F4;
$app-text-color: #333;
$app-border-color: #DDDDDD;
//$light: #dfe6ee;
//$dark: #0f1319;


// Adding (!) an additional theme color (ex. classes btn-cool, bg-cool)
//$theme-colors: (
//  "cool": #4d3fa3
//);
